html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #f3f6fd;
  color: #000000;
}

.app {
  display: grid;
  grid-template-columns: min-content minmax(300px, 900px);
  grid-template-rows: min-content 1fr;
}
.app-navigation {
  padding: 30px;
  min-height: 100vh;
  background-color: #fbfaff;
  grid-row: span 2;
}
.app-logo {
  margin-bottom: 50px;
}
.app-header {
  padding: 45px 40px 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-content {
  padding: 0 40px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 54px;
  row-gap: 12px;
}

.habit-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  &__item--active .habit-list__btn {
    background: #5051f9;
    img {
      filter: brightness(0) invert(1);
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: #6a6afb;
      img {
        filter: brightness(0) invert(1);
      }
    }
    &--add {
      background: none;
      border: 1px solid #cad5ff;
      &:hover {
        background: #cad5ff;
      }
    }
  }
}

.habit-title {
  font-size: 30px;
  line-height: 33px;
}
.habit-progress {
  width: 235px;
  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &__name {
    color: #232360;
  }
  &__percent {
    font-size: 12px;
    line-height: 13px;
    color: #768396;
  }
  &__bar {
    width: 100%;
    height: 5px;
    background: #e6e9ed;
    border-radius: 4px;
    transition: all 0.5s;
    &--cover {
      width: 0%;
      background: #5051f9;
    }
  }
}

.habit {
  height: 100%;
  display: flex;
  background: #ffffff;
  align-items: center;
  border-radius: 10px;
  &__day {
    min-width: 130px;
    background: #fbfaff;
    padding: 19px 0 19px 40px;
    border-right: 1px solid #e7ebfb;
    border-radius: 10px 0 0 10px;
    font-weight: 500;
  }
  &__comment {
    padding-left: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #23235f;
  }
  &__del {
    margin-left: auto;
    margin-right: 7px;
    background: transparent url('../images/basket.svg') center no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    &:hover {
      background-color: #EDECFE;
    }
  }
}

.habit-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__input {
    position: relative;
    margin: 0 14px 0 24px;
    padding: 0 20px 0 48px;
    width: 100%;
    font: inherit;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    background: url('../images/comment.svg') no-repeat 10px 10px;
    outline: none;
    &::placeholder {
      color: #8899A8;
    }
  }
  &__btn {
    margin-right: 5px;
    font: inherit;
    width: 120px;
    height: 39px;
    background: #EDECFE;
    border-radius: 9px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #5051F9;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: #5051f9;
      color: #fff;
    }
  }
}
