html, body{
	margin: 0;
	background: #eee;
}

.faq{
	padding: 30px;
	max-width: 600px;
	overflow: hidden;
}

.faq .item{
	margin: 20px 0;
}

.faq .item .ask{
	font-size: 30px;
	margin-bottom: 10px;
	cursor: pointer;
}

.faq .item .answer{
	background: #ff0;
	overflow: hidden;
	padding: 0 15px;
	transition: opacity 0.3s;
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

.faq .item .answer.open{
	position: static;
	opacity: 1;
	pointer-events: all;
}
